body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: 'Lato', sans-serif;
}
.container {
    width: 80%;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
}
a.username {
    text-decoration: none;
    color: blue;
}
a.username:visited {
    color: blue;
}
.friendMessage {
    background-color: orange;
    font-weight: 900;
}
#rooms {
    background-color: darkgrey;
    width: 150px;
    padding: 10px;
    display: block;
    float: right;
}
#friendsList {
    width: 200px;
    background-color: darkgrey;
    float: left;
    margin: 0 auto;
}
#rooms {
    margin: 0 auto;
}

#rooms input{
    width: 100px;
}
.selectedRoom {
    background-color: red;
}
#main {
    width: 600px;
    height: 700px;
    overflow: auto;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

label {
    text-align: center;
}

form {
 /*   padding: 20px;
    padding-left: 0;*/
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 10%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.username {
    text-decoration: underline;
}
